.doctor1 img {
	width: 75%;
}

.margin {
	margin: 10px;
}

.box-border {
	text-align: center;
	height: 160px;
	width: 240px;
	border: 2px dashed;
}

.section-block {
	background-color: #e7e7e7;
}

.font-txt {
	font-size: 20px;
	text-align: center;
}
