body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #3d4747;
}

/* colors */
.c-green {
	color: #329897;
}

.c-grey {
	color: #869494;
}

/* shadows */
.box-shadow {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* borders */
.border-radius {
	border-radius: 5px;
}

/* badge */
.badge-light {
	color: #3d4747;
	background-color: #86949411;
}
