body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #3d4747;
}

.main {
	min-height: calc(100vh) !important;
}

/* colors */
.c-green {
	color: #329897;
}

.c-grey {
	color: #869494;
}

/* button */
.btn-info {
	background-color: #329897;
}

/* shadows */
.box-shadow {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* borders */
.border-radius {
	border-radius: 5px;
}

/* badge */
.badge-light {
	color: #3d4747;
	background-color: #86949411;
}

/* icon size */
.icon-medium {
	font-size: 80px;
}

.icon-large {
	font-size: 150px;
}

.icon-larger {
	font-size: 250px;
}
